@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bg-color: rgba(0, 0, 0, 0.1);
    --font-color: #fff;
    --blue-color: rgba(42, 42, 188, 0.5);
    --gray-color: rgba(62, 62, 62, 0.5);
}
::placeholder {
    color: var(--font-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: "Inter", serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    background-image: url(../assets/background_pc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

/* Header section */

header{
    width: 100%; 
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

header nav a{
    color: var(--font-color);
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
}

a.active{
    background: var(--blue-color);
    border-radius: 2px;
}

a:hover{
    background: var(--blue-color);
    border-radius: 2px;
}

/* carousel */

.carousel{
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
    visibility: hidden;

}
.list .item .content{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: var(--font-color);
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title .btn{
    font-size: 50px;
    text-transform: uppercase;
    color: var(--blue-color);
    font-weight: bold;
    line-height: 1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.des{
    font-size: 20px;
    margin-top: 10px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.name{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue-color);
    margin-bottom: 10px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    color:#3131ca;
}  
.content .btn button{
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid var(--font-color);
}

.content .btn button:nth-child(1){
    margin-right: 15px;
    background: transparent;
    color: var(--font-color);
    border: none;   
    margin-bottom: 2px;
}

.content .btn button:nth-child(1):hover{
    color: var(--blue-color);
    transition: 0.3s;
}

.content .btn button:nth-child(2){
    background: transparent;
    color: var(--font-color);
    border: none;
  
}

.content .btn button:nth-child(2):hover{
    color: var(--blue-color);
    transition: 0.3s;

}
.admin-panel{
    position: absolute;
    top: 3%;
    right: 1%;
    border-radius: 5px;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    height: 45px;
    width: 30px;
    background-color: transparent;
    font-size: 30px;
}

.admin-panel:hover{
    background: transparent;
    color: var(--blue-color);
}
.back{
    font-size: 16px;
    position: absolute;
    top: 3%;
    left: 1%;
    color: var(--font-color);
    border:none;
    z-index: 1000;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 45px;
    width: 80px;
}

.back:hover{
    background: transparent;
    color: var(--blue-color);
}


@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* next prev arrows */

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--blue-color);
    color: var(--font-color);
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: var(--font-color);
    color: var(--blue-color);
}


/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: var(--blue-color);
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}

@media screen and (max-width: 630px){


    header{
        padding: 5px 10px;
        margin-left: 2px;
    }

    header .back{
        margin-left: 20px;
    }

    .container{
        padding: 10px;
        width: 700px;
    }

    header nav a{
        font-size: 14px;
        margin-left: 0;
    }
    .carousel .list .item{
        width: 150px;
        height: 200px;
    }
    .carousel .list .item:nth-child(1),
    .carousel .list .item:nth-child(2){
        top:0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
    }
    .carousel .list .item:nth-child(3){
        left: 50%;
    }
    .carousel .list .item:nth-child(4){
        left: calc(50% + 150px);
    }
    .carousel .list .item:nth-child(5){
        left: calc(50% + 300px);
    }
    .carousel .list .item:nth-child(6){
        left: calc(50% + 450px);
    }
    .carousel .list .item:nth-child(n+7){
        left: calc(50% + 600px);
        opacity: 0;
        visibility: hidden;
    }
    .list .item .content .des{
        font-size: 16px;
    }
    .content .title .name .des .btn{
        max-width: 300px;
        font-size: 40px;
    }
    .content .btn button{
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        margin-left: 1%;
        margin-right: 80%;
        text-align: center;
        height: 55px;
        width: 95px;
        border-radius: 5px;
    }
   
    .content .btn button:nth-child(1){
        background: transparent;
        margin-right: 15px;
        margin-bottom: 2px;
        color: var(--font-color);
        border: 2px solid var(--blue-color);
        transition: 0.3s;
    }
    .content .btn button:nth-child(2){
        background: transparent;
        color: var(--font-color);
        border: 2px solid var(--blue-color);
        transition: 0.3s;
    }

    .content .btn button:nth-child(1):hover{
        background-color: var(--gray-color);
        color: var(--font-color);
        border-color: var(--gray-color);
    }
    .content .btn button:nth-child(2):hover{
        background-color: var(--gray-color);
        color: var(--font-color);
        border-color: var(--gray-color);
    }

    .arrows{
        top: 80%;
        right: 50%;
    }
    .arrows button{
        width: 40px;
        height: 40px;
    }
    .carousel .timeRunning{
        height: 3px;
    }
    .admin-panel{
        margin-top: 2%;
        padding: 3px;
        margin-right: 1%;
        height: 45px;
        width: 100px;
        border: none;
        color: var(--font-color);
    }
    .back{
        margin-top: 2%;
        padding: 3px;
        margin-left: 1%;
        height:45px;
        width: 80px;
        border: none;
        color: var(--font-color);
    }
    .name {
        font-size:40px; 
        width: 30%;   

    }
}
